{% extends 'base_generic.html' %}

{% block title %}<title>Mini Blog - Home</title>{% endblock %}

{% block content %}
<div class="d-flex justify-content-center py-5">
  <div class="card shadow rounded-lg" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title">Mini Blog</h5>
      <h6 class="card-subtitle mb-2 text-muted">A mini-blog created using django web framework </h6>
      <p class="card-text">Welcome to Django DIY mini-blog.</p>
    </div>
  </div>
</div>
{% endblock content %}
