{% extends "base_generic.html" %}

{% block content %}
<div class="py-5">
  <div class="d-flex justify-content-center pt-2">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title text-center">Password Reset</h4>
        <form action="" method="post">
          {% csrf_token %}
          {% if form.email.errors %}
          {{ form.email.errors }}
          {% endif %}
          <div class="form-group">
            <label for="{{ form.label.id_for_email }}">Email:</label>
            {{ form.email }}
          </div>
          <input type="submit" class="btn btn-danger" value="Reset password">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
