{% extends "base_generic.html" %}

{% block content %}
<div class="py-5">
  <div class="d-flex justify-content-center pt-2">
    <div class="card" style="width: 28rem;">
      <div class="card-body">
        <h4 class="card-title text-center">Password Reset Confirmation</h4>
        {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">New password:</label>
            {{ form.new_password1 }}
          </div>
          <div class="form-group">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirm password:</label>
            {{ form.new_password2 }}
          </div>
          <input type="submit" class="btn btn-warning" value="Change password" />
        </form>
        {% else %}
        <h4 class="card-text">Password reset failed</h4>
        <p class="card-text text-info">The password reset link was invalid, possibly because it has already been used.
          Please request a new password
          reset.
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
