{% extends 'base_generic.html' %}

{% block title %}<title>Mini Blog - Blogs</title>{% endblock %}

{% block content %}
<div class="d-flex justify-content-center py-5">
  <div class="card shadow rounded-lg" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title">All blogs</h5>
      <h6 class="card-subtitle mb-2 text-muted">Shows a list of all the blogs in the mini-blog website.</h6>
      {% for blog in blog_list %}
      <p class="card-text"><a href="#">{{ blog.title }}</a> - <span class="text-muted">{{ blog.post_date }}</span> - <a href="#">{{ blog.author }}</a></p>
      {% empty %}
      <p class="card-text">No blogs yet made.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
